.pages-pdf {
    border: 1px solid silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px 80px;
}

.pages-pdf .line-through {
    text-decoration: line-through;
}

.pages-pdf .file-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pages-pdf .file-header .file-title {
    height: 200px;
    width: 350px;
    text-align: center;
    border: 1px solid black;
    padding: 18px;
    box-sizing: border-box;
}

.pages-pdf .file-header .file-title .title-1 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pages-pdf .file-header .file-title .title-2 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.pages-pdf .file-header .file-number {
    width: 120px;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 18px;
    box-sizing: border-box;
    margin-left: 100px;
    line-height: 40px;
    font-size: 25px;
    padding-top: 40px;
    font-family: sans-serif;
    font-weight: bold;
    height: 200px;
}

.pages-pdf .file-content {
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 60px;
    color: #000;
}

.pages-pdf .file-content img {
    margin: 25px;
    width: 50%;
}

.pages-pdf .file-content .section-1 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
}

.pages-pdf .file-content .file-content-2 {
    padding: 10px 20px;
}

.pages-pdf .file-content .file-content-2 ol {
    margin-bottom: 14px;
}

.pages-pdf .file-content .file-content-2 ol li {
    color: black;
    line-height: 33px;
    font-family: sans-serif;
    font-size: 17px;
}

.pages-pdf .file-content input {
    border: 0;
    outline: none;
    border-bottom: 1px solid silver;
    margin: 0 10px;
    background: transparent;
}

.pages-pdf .file-content input:focus{
    outline: none;
}

.pages-pdf .file-details .file-details-item {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.pages-pdf .file-details .file-details-item-1 {
    display: flex;
    width: 100%;
    align-items: center;
}

.pages-pdf .file-details .file-details-item-2 {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.pages-pdf .file-details label {
    margin-right: 20px;
    width: 150px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
}

.pages-pdf .file-details input {
    border-bottom: 1px solid silver;
    margin: 0 10px;
    width: 60%;
    background: transparent;
}

.pages-pdf .delete-text {
    font-size: 13px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .pages-pdf {
        border: 0;
        max-width: 100%;
        margin: 20px;
        padding: 0;
    }
}

@media (max-width: 992px) {
    .pages-pdf .file-details .file-details-item {
        flex-direction: column;
        margin-bottom: 0;
    }

    .pages-pdf .file-details .file-details-item-1 {
        margin-bottom: 20px;
    }

    .pages-pdf .file-details input {
        width: 70%;
    }

    .pages-pdf .file-details label {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .pages-pdf .file-details .file-details-item-1 {
        margin-bottom: 10px;
    }

    .pages-pdf .file-details .file-details-item-2 {
        margin-bottom: 10px;
    }

    .pages-pdf .file-header .file-number {
        width: 83px;
        padding: 10px;
        margin-left: 50px;
        line-height: 33px;
        font-size: 19px;
        padding-top: 45px;
    }

    .pages-pdf .file-content .file-content-2 {
        padding: 0;
    }

    .pages-pdf .file-content .file-content-2 ol {
        margin: 0;
        padding: 12px;
    }

    .pages-pdf .file-content .file-content-2 ol li {
        color: black;
        line-height: 24px;
        font-family: sans-serif;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .pages-pdf {
        margin: 20px 10px;
    }

    .pages-pdf .file-details label {
        font-size: 12px;
    }

    .pages-pdf .file-content .file-content-2 ol li {
        line-height: 21px;
        font-size: 11px;
    }

    .pages-pdf .file-content .file-content-2 p {
        font-size: 12px;
    }

    .pages-pdf .file-header {
        flex-direction: column-reverse;
    }

    .pages-pdf .file-header .file-title {
        width: 100%;
    }

    .pages-pdf .file-header .file-title .title-1 {
        font-size: 12px;
    }

    .pages-pdf .file-header .file-title .title-2 {
        font-size: 14px;
    }

    .pages-pdf .file-header .file-number {
        width: 100%;
        padding: 10px;
        margin-left: 0;
        line-height: 33px;
        font-size: 19px;
        border: 2px solid black;
        height: 50px;
        padding-top: 7px;
        margin-bottom: 26px;
    }
}
