<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<!--    <link rel="stylesheet" href="{{root}}/styles/css/style.css">-->
</head>
<body>
{{{body}}}
</body>
</html>
