<div style="width:100%;background:#f5f7fa;padding: 80px 0;">
    <div style="width: 540px;
    border-radius: 4px;
    background: white;
    padding: 30px 25px;
    margin: auto;">
        <h1>Confirmation code</h1>
        <b>It's time to confirm your email address. Please enter the following code in your browser window.</b>
        <div style="border:1px solid silver;width:500px;margin-top:20px;text-align:center;vertical-align:center;background-color:#f4f9ff;
"><h1 style="color:#407096;margin:0;padding:10px 0;">{{code}}</h1></div>
        <p>Enter the code soon, as it will expire shortly.</p>
        <p>— Team Kimbocorp</p>
    </div>
</div>
