<style>
    .pages-pdf {
        padding: 0 20px;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 850px;
        margin: 0 auto;
    }
    .pages-pdf .director-text-2 {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .director-text-2 input {
        width: 200px;
        margin-right: 20px;
    }
    .pages-pdf .add-text-1 {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-2 {
        text-align: center;
        margin-bottom: 30px;
        line-height: 26px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf hr {
        height: 1px;
        background: black;
        width: 100%;
        margin-bottom: 20px;
    }
    .pages-pdf .add-text-3 {
        margin-top: 30px;
        margin-bottom: 10px;
        line-height: 26px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .add-text-4 {
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-4 span {
        font-weight: bold;
    }
    .pages-pdf .add-text-4 input {
        margin-left: 15px;
    }
    .pages-pdf .add-text-5 {
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 24px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-6 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-7 {
        text-align: center;
        margin-top: 50px;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        font-family: sans-serif;
    }

    @media (max-width: 600px) {
        .pages-pdf .add-text-5 {
            margin-bottom: 0;
        }
        .pages-pdf .director-text-2 {
            font-size: 16px;
        }
        .pages-pdf .director-text-2 input {
            width: 46%;
        }
        .pages-pdf .add-text-2, .pages-pdf .add-text-3, .pages-pdf .add-text-6 {
            font-size: 16px;
        }
    }
</style>
<div class="pages-pdf">
    <p class="director-text-2"><input placeholder="-----------------------------------------------------">PTE. LTD. </p>
    <p class="add-text-1">
        UEN:<br>
        (Incorporated in the Republic of Singapore)
    </p>
    <p class="add-text-2">
        FIRST DIRECTOR’S MINUTES <br>
        PURSUANT TO THE COMPANY’S CONTITUTION
    </p>
    <hr/>

    <p class="add-text-3">INCORPORATION OF COMPANY</p>
    <p class="add-text-4">
        Noted that the Company,<input placeholder="---------------------------------">PTE. LTD., has been incorporated under the Companies Act, Cap. 50, on
        <input placeholder="---------------------------------">  YYYY MM DD with UEN<input placeholder="---------------------------------">
    </p>

    <p class="add-text-3">FIRST DIRECTOR </p>
    <p class="add-text-4">
        Noted that First Director,<input placeholder="---------------------------------"> FIRST NAME LAST NAME,
        having consented to act, has been appointed as Directors with effect from the date of incorporation of the Company.
    </p>

    <p class="add-text-3">SECRETARY</p>
    <p class="add-text-4">
        Resolved<input placeholder="---------------------------------">
        Resolved that FIRST NAME LAST NAME, having consented, be hereby appointed as Secretary with effect from 90 calendar days after the date of incorporation of the Company.
    </p>

    <p class="add-text-3">REGISTERED OFFICE</p>
    <p class="add-text-4">
        Noted that with effect from the date of incorporation of the Company, the Registered Office of the Company has been situated at Address
    </p>

    <p class="add-text-3">FINANCIAL YEAR</p>
    <p class="add-text-4">
        Resolved that the financial year shall end on MM DD each year and the first set of financial statements shall be for the period from the date of incorporation to <input placeholder="---------------------------------">.
    </p>
    <p class="add-text-4">
        Resolved that in accordance with the provisions of the Companies Act, Cap. 50, the first Annual General Meeting has to be held by<input placeholder="---------------------------------"> and accordingly, the accounts for the said period shall be finalized in time for the meeting.
    </p>

    <p class="add-text-3">ALLOTMENT OF SUBSCRIBER’S SHARES</p>
    <p class="add-text-4">
        Resolved that the allotment of  <input placeholder="---------------------------------"> ordinary shares to <input placeholder="---------------------------------">
        at <input placeholder="---------------------------------"> AND <input placeholder="---------------------------------"> per share on the date of incorporation of the Company be hereby recorded.
    </p>
    <p class="add-text-4">
        Resolved that Share Certificate NO. 1 be issued accordingly and that sole Director be hereby authorized to sign it.
    </p>

    <p class="add-text-3">ESTABLISHMENT OF BANKING ACCOUNTS </p>
    <p class="add-text-4">
        Resolved that the Company shall establish such account(s) with  <input placeholder="---------------------------------">  (the “Bank”) in the name of the Company and for this purpose, the prescribed mandate provided by the Bank be issued by the Directors, that the resolutions set out in the Bank’s account opening form and mandate,
        and the authorized persons and manner of signing shall be deemed to form an integral part of this resolution.
    </p>
    <p class="add-text-4">
        Resolved that a certified copy of this resolution be furnished to the Bank and remain in force until revoked or amended by resolution of the Directors.
    </p>
    <p class="add-text-5">Dated: <input placeholder="---------------------------------"> </p>
    <p class="add-text-6">
        <input placeholder="-----------------------------------------------------------------"><br>
        FIRST NAME LAST NAME
    </p>
</div>


<div class="pages-pdf">
    <p class="director-text-2"><input placeholder="-----------------------------------------------------">PTE. LTD. </p>
    <p class="add-text-1">
        UEN:<br>
        (Incorporated in the Republic of Singapore)
    </p>
    <p class="add-text-2">
        CERTIFIED EXTRACTS OF DIRECTOR’S RESOLUTIONS <br>
        PASSED ON
    </p>
    <hr/>

    <p class="add-text-4">
        Resolved that the Company shall establish such account(s) with  <input placeholder="---------------------------------">  (the “Bank”) in the name of the Company and for this purpose, the prescribed mandate provided by the Bank be issued by the Directors, that the resolutions set out in the Bank’s account opening form and mandate,
        and the authorized persons and manner of signing shall be deemed to form an integral part of this resolution.
    </p>
    <p class="add-text-4">
        Resolved that a certified copy of this resolution be furnished to the Bank and remain in force until revoked or amended by resolution of the Directors.
    </p>
    <p class="add-text-5">CERTIFIED EXTRACTS:</p>
    <p class="add-text-6">
        <input placeholder="-----------------------------------------------------------------"><br>
        DIRECTOR
    </p>
</div>
