<style>
    .pages-pdf {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
        /*padding: 40px 80px;*/
    }

    .pages-pdf .line-through {
        text-decoration: line-through;
    }

    .pages-pdf .file-header {
        display: -webkit-flex;
        -webkit-justify-content: flex-end;
        -webkit-align-items: center;
    }

    .pages-pdf .file-header .file-title {
        height: 200px;
        width: 350px;
        text-align: center;
        border: 1px solid black;
        padding: 18px;
        box-sizing: border-box;
    }

    .pages-pdf .file-header .file-title .title-1 {
        font-size: 14px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .pages-pdf .file-header .file-title .title-2 {
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    .pages-pdf .file-header .file-number {
        width: 120px;
        text-align: center;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding: 18px;
        box-sizing: border-box;
        margin-left: 100px;
        line-height: 40px;
        font-size: 25px;
        padding-top: 40px;
        font-family: sans-serif;
        font-weight: bold;
        height: 200px;
    }

    .pages-pdf .file-content {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 60px;
        color: #000;
    }

    .pages-pdf .file-content p {
        font-size: 16px;
        font-family: sans-serif;
    }

    .pages-pdf .file-content img {
        margin: 25px;
        width: 50%;
    }

    .pages-pdf .file-content .section-1 {
        font-size: 20px;
        margin-bottom: 30px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }

    .pages-pdf .file-content .file-content-2 {
        /*padding: 10px 20px;*/
    }

    .pages-pdf .file-content .file-content-2 ol {
        margin-bottom: 14px;
        padding: 5px 14px;
    }

    .pages-pdf .file-content .file-content-2 ol li {
        color: black;
        line-height: 24px;
        font-family: sans-serif;
        letter-spacing: 0.4px;
        font-size: 16px;
    }

    .pages-pdf .file-content input {
        border: 0;
        outline: none;
        border-bottom: 1px solid silver;
        margin: 0 10px;
        background: transparent;
    }

    .pages-pdf .file-content input:focus {
        outline: none;
    }

    .pages-pdf .file-details .file-details-item {
        margin-bottom: 20px;
        display: -webkit-flex;
        width: 100%;
        -webkit-align-items: center;
        -webkit-justify-content: space-between;
    }

    .pages-pdf .file-details .file-details-item-1 {
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        width: 50%;
        -webkit-align-items: center;
    }

    .pages-pdf .file-details .file-details-item-2 {
        margin-bottom: 20px;
        display: -webkit-flex;
        -webkit-justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
    }

    .pages-pdf .file-details label {
        margin-right: 20px;
        width: 250px;
        padding-top: 10px;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;
        display: inline-block;
    }

    .pages-pdf .file-details input {
        border-bottom: 1px solid silver;
        margin: 0 10px;
        width: 250px;
        background: transparent;
    }

    .pages-pdf .file-details .file-details-item-2 input {
        width: 800px;
    }

    .pages-pdf .delete-text {
        font-size: 13px;
        margin-top: 20px;
        font-family: sans-serif;
        font-weight: bold;
    }
</style>
<div class="pages-pdf">
    <div class="file-header">
        <div class="file-title">
            <p class="title-1">
                THE COMPANIES ACT<br>
                (CHAPTER 50)<br>
                SECTION 173(2)(a)
            </p>
            <p class="title-2">
                CONSENT TO ACT AS DIRECTOR AND STATEMENT OF NON DISQUALIFICATION TO ACT AS DIRECTOR
            </p>
        </div>
        <div class="file-number">FORM 45</div>
    </div>
    <form method="POST">
        <div class="file-content">
            <p class="section-1">Name of Company: <span>{{name}}</span> PTE. LTD.</p>
            <input type="hidden" name="name">
            <p class="section-1">Company No: <span></span></p>
            <div class="file-content-2">
                <p>I, the undermentioned person, hereby consent to act as a director of the
                    abovenamed company with effect from <input>(date) and declare that:
                </p>
                <ol type="a">
                    <li>I am not disqualified from acting as a director, in that:
                        <ol type="i">
                            <li>I am not below 18 years of age and that I am otherwise of full legal capacity.</li>
                            <li>
                                Within a period of 3 years preceding the date of this statement
                                I have not had any disqualification order made by the
                                High Court of Singapore against me under section 149A(1) of the Companies Act (the
                                "Act").
                            </li>
                            <li>
                                (i) Within a period of 5 years preceding the date of this statement,
                                have not had any disqualification order made by the High Court of
                                Singapore against me under section 149(1) or 154(2) of the Act.
                            </li>
                            <li>
                                Within a period of 5 years preceding 12 November 1993, I have not been convicted whether
                                within or outside Singapore, of any offence -
                                <ol type="A">
                                    <li>in connection with the promotion, formation or management of a corporation;</li>
                                    <li>involving fraud or dishonesty punishable on conviction with imprisonment for 3
                                        months or more; or
                                    </li>
                                    <li>
                                        under section 157 (failure to act honestly and diligently as a director or
                                        making improper use of company information
                                        for gain) or under section 339 (failure to keep proper accounts books) of the
                                        Act.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                That within a period of 5 years preceding the date of this statement, I have not
                                been convicted, in Singapore or elsewhere, of any offence involving fraud or
                                dishonesty punishable on conviction with imprisonment for 3 months or more.
                            </li>
                            <li>That -
                                <ol>
                                    <li>
                                        I have not been convicted of 3 or more offences under the Act in relation to the
                                        requirements on the filing of returns, accounts or other documents with the
                                        Registrar of
                                        Companies and have not had 3 or more orders of the High Court of Singapore made
                                        against me under section 13 or 399 of the Act in relation to such requirements;
                                    </li>
                                    <li>
                                        The last of any such conviction did not take place or the last of any such order
                                        was not made during the period of 5 years preceding the date of this statement;
                                        and
                                    </li>
                                    <li>I am not an undischarged bankrupt under section148(1) of the Act.</li>
                                </ol>
                            </li>
                            <li>By virtue of the foregoing, I am not disqualified from acting as a director of the
                                abovenamed company.
                            </li>
                        </ol>
                    </li>
                    <li>
                        I am aware of and undertake to abide by my duties, responsibilities and liabilities
                        specified in the Act as well as under the common law where applicable, including the following
                        key administrative and substantive duties, that is, to:
                        <ol type="i">
                            <li>discharge my responsibilities in the company;</li>
                            <li>ensure that I have a reasonable degree of skill and knowledge to handle the affairs of
                                the company;
                            </li>
                            <li>act honestly and be reasonably diligent in discharging my duties and act in the interest
                                of the company without putting myself in a position of conflict of interest.
                            </li>
                            <li>employ the powers and assets that I am entrusted with for the proper purposes of the
                                company and not for any collateral purpose;
                            </li>
                            <li>
                                ensure that the company and I comply with all the requirements and obligations under the
                                Act including
                                those in respect of meetings, requistions, resolutions, accounts, reports, statements,
                                records and other documents on the company,
                                filing and notices and any other prerequisities; and
                            </li>
                            <li>account to the shareholders for my conduct of the affairs of the company and make such
                                disclosures that are incumbent upon me under the Act.
                            </li>
                        </ol>
                    </li>
                    <li>That -
                        <ol type="i">
                            <li>I have read and understood the above statements; or</li>
                            <li>
                                <span class="line-through">the above statements were interpreted to me in</span><br>
                                <img src="{{root}}images/img-1.png"><br>
                                before I executed this form and I confirm that the statements are true.
                                I am also aware that I can be prosecuted in Court if I willfully give any information on
                                this form which is false.
                            </li>
                        </ol>
                    </li>

                </ol>
            </div>
            <div class="file-details">
                <div class="file-details-item">
                    <div class="file-details-item-1">
                        <label>Name:</label>
                        <input value="{{personal.full_name}}">
                    </div>
                    <div class="file-details-item-1">
                        <label>Date of Birth:</label>
                        <input value="{{personal.birthday}}">
                    </div>
                </div>
                <div class="file-details-item-2">
                    <label>Address:</label>
                    <input value="{{personal.address}}">
                </div>
                <div class="file-details-item-2">
                    <label>Email:</label>
                    <input value="{{personal.email}}">
                </div>
                <div class="file-details-item">
                    <div class="file-details-item-1">
                        <label>NRIC./Passport No.</label>
                        <input value="{{personal.passport_number}}">
                    </div>
                    <div class="file-details-item-1">
                        <label>Nationality:</label>
                        <input value="{{personal.nationality}}">
                    </div>
                </div>
                <div class="file-details-item">
                    <div class="file-details-item-2">
                        <label>Mobile No.:</label>
                        <input value="{{personal.phone_number}}">
                    </div>
                </div>
                <div class="file-details-item">
                    <div class="file-details-item-1">
                        <label>Dated:</label>
                        <input value="{{dated}}">
                    </div>
                    <div class="file-details-item-1">
                        <label>Signature:</label>
                        <img src="{{root}}uploads/users/{{personal.signature}}">
<!--                        <input>-->
                    </div>
                </div>
            </div>

            <p class="delete-text">*Delete where inapplicable</p>


            <!--            <button type="submit" id="saveChanges">Save Changes</button>-->

        </div>
    </form>
</div>


<script>
    let button = document.getElementById('saveChanges');
    button.addEventListener('click', () => {
        console.log('OK')
        window.location.href = 'http://localhost:4200/auth/new-company';
    })
</script>
