<style>
    .pages-pdf {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
    }
    .pages-pdf .acra-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        border-bottom: 1px solid black;
    }
    .pages-pdf .acra-text-1 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .acra-text-2 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .acra-text-3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 16px;
        margin-bottom: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .acra-text-3 span {
        font-size: 14px;
        font-weight: normal;
    }
    .pages-pdf .acra-text-4 {
        margin-bottom: 0;
        margin-top: 20px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .acra-text-4 span {
        font-size: 12px;
        font-weight: normal;
    }
    .pages-pdf .acra-text-5 {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .acra-text-6 {
        margin-bottom: 20px;
        width: 100%;
        margin-top: 5px;
        font-size: 12px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf table {
        width: 100%;
        border: 1px solid black;
    }
    .pages-pdf table tr th {
        padding: 5px;
        color: #000;
        font-family: sans-serif;
        font-weight: 400;
        border-bottom: 1px solid black;
        text-align: left;
    }
    .pages-pdf table tr td {
        width: 50%;
        padding: 5px;
        color: #000;
        font-family: sans-serif;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    .pages-pdf table tr td:last-child {
        border-right: 0;
    }
    .pages-pdf table tr:last-child td {
        border-bottom: 0;
    }
    .pages-pdf .table-2 tr td:first-child {
        width: 80%;
    }
    .pages-pdf .table-2 tr td {
        width: 10%;
    }
    .pages-pdf .table-2 tr input {
        width: 100%;
    }
    .pages-pdf .table-3 tr td {
        width: 33.3%;
    }
    .pages-pdf .table-3 tr input {
        width: 100%;
    }
    .pages-pdf .acra-checkbox {
        display: flex;
    }
    .pages-pdf .acra-checkbox .container {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 20px;
        cursor: pointer;
        font-size: 12px;
        margin-right: 20px;
    }
    .pages-pdf .acra-checkbox .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .pages-pdf .acra-checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        background-color: #eee;
    }
    .pages-pdf .acra-checkbox .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    .pages-pdf .acra-checkbox .container input:checked ~ .checkmark {
        background-color: #407096;
    }
    .pages-pdf .acra-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .pages-pdf .acra-checkbox .container input:checked ~ .checkmark:after {
        display: block;
    }
    .pages-pdf .acra-checkbox .container .checkmark:after {
        left: 6px;
        top: 3px;
        width: 3px;
        height: 7px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .pages-pdf .empty-line {
        margin-bottom: 50px;
    }

    @media (max-width: 600px) {
        .acra-body table {
            width: 600px;
        }
        .acra-body .table-item {
            overflow-x: scroll;
            max-width: 600px;
            width: 100%;
        }
    }
</style>
<div class="pages-pdf">
    <div class="acra-header">
        <p class="acra-text-1">CUSTOMER	ACCEPTANCE	CHECKLIST</p>
        <p class="acra-text-2">Annex C</p>
    </div>
    <div class="acra-body">
        <p class="acra-text-3">PART 1	– INFORMATION ABOUT CUSTOMERS, AGENTS, BENEFICIAL OWNERS	AND POLITICALLY
            EXPOSED PERSONS<span>(Provide	evidence	to	verify	information	filled	up.)</span></p>

        <div class="table-item">
            <p class="acra-text-4">Section	A1 – Information	of Customer	/	Agent <span>(*Mandatory	info	required	under	ACRA	(FA/QI)	Reg	2015)</span></p>
            <table>
                <tbody>
                <tr>
                    <td>Capacity	in	which	the	individual is acting</td>
                    <td>
                        <div class="acra-checkbox">
                            <label class="container">Self
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Agent
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Connected	Party
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>*Full	Name	(including	any	alias)</td>
                    <td><input value="{{personal.full_name}}"></td>
                </tr>
                <tr>
                    <td>*Residential Address</td>
                    <td><input value="{{personal.address}}"></td>
                </tr>
                <tr>
                    <td>*Passport	No./Expiry	Date</td>
                    <td><input value="{{personal.passport_expiry_date}}"></td>
                </tr>
                <tr>
                    <td>*Date	of	Birth/Gender</td>
                    <td>
                        <div class="acra-checkbox">
                            <label class="container">F
                                <input type="radio" checked="{{#if_eq personal.gender 'female'}}{{/if_eq}}" name="gender">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">M
                                <input type="radio" name="gender" checked="{{#if_eq personal.gender 'male'}}{{/if_eq}}" >
                                <span class="checkmark"></span>
                            </label>
                            <input>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>*Nationality</td>
                    <td><input value="{{personal.nationality}}"></td>
                </tr>
                <tr>
                    <td>*Contact	No. with	Country	Code</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>*Email	Address</td>
                    <td><input value="{{personal.email}}"></td>
                </tr>
                <tr>
                    <td>Intended	nature	and	purpose	of	business	relationship</td>
                    <td><input></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-item">
            <p class="acra-text-4">Section	A2- Information	on	Business Entity <span>(*Mandatory	info	required	under	ACRA	(FA/QI)	Reg	2015)</span></p>
            <table>
                <tbody>
                <tr>
                    <td>Name	of	Entity/Proposed	Entity</td>
                    <td>
                        <input value="{{name}}">
                    </td>
                </tr>
                <tr>
                    <td>Company	No./UEN</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>Registered	Office</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>Address	of	principal	place	of	business	(if	not	RO)</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>Country	of	Incorporation</td>
                    <td>SINGAPORE</td>
                </tr>
                <tr>
                    <td>Date	of	Incorporation</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>Contact	No. with	country	code</td>
                    <td>As	above</td>
                </tr>
                <tr>
                    <td>Email	Address</td>
                    <td>As	above</td>
                </tr>
                <tr>
                    <td>Intended	nature	and	purpose	of	business	relationship
                        (Indicate	why	you	are	seeking	RFA	services.)</td>
                    <td>As	above</td>
                </tr>
                <tr>
                    <td>Name(s)	of	all	connected	parties(directors/partners)
                        (Furnish	same	info	as	Section	A1	or	each	person)</td>
                    <td><input></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="empty-line"></div>
        <div class="table-item">
            <p class="acra-text-4">Section	B – Information	of Customer’s	Beneficial Owner(s) <span>(Info	on	ultimate	beneficial	owner(s)</span></p>
            <table>
                <thead>
                <tr>
                    <th colspan="2">
                        The purpose of obtaining beneficial owners’ information is to:<br>
                        (a) 		Identify	the	natural	persons	(whether	acting	alone	or	together)	who	ultimately	own >25%	of the	assets	or
                        undertakings	of	the	customer;<br>
                        (b) 		If	there	is	doubt	as	to	whether	the	natural	persons	who	ultimately	own >25%	of the	assets	or	undertakings	of
                        the	customer are	the	beneficial owners or where no natural persons ultimately own the assets or
                        undertakings of the customer, to then identify the	natural persons (if any) who ultimately control the
                        business entity or have ultimate effective control over the customer; and<br>
                        c) 		Where no natural persons are identified above, to identify the natural persons having executive authority in
                        the customer, or in equivalent or similar positions.
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Full	Name	of	Beneficial	Owner (including	aliases)</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Residential	Address</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Nationality</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Passport	No</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Date	of	Birth</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Contact	No.</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Email	Address</td>
                    <td>
                        As	above
                    </td>
                </tr>
                <tr>
                    <td>Provide Information	of nature of beneficial
                        ownership or	person	having	executive
                        authority (e.g. more than 25% of ownership of
                        the customer)</td>
                    <td>
                        <input>
                    </td>
                </tr>
                <tr>
                    <td>Information	on	ownership	and control
                        structure of,	or	over the customer</td>
                    <td>
                        <input>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-item">
            <p class="acra-text-4">Section	C1 – Information	relating	to	Politically Exposed	Person(s)</p>
            <p class="acra-text-5">Provide	information	on	the	customer	if	the	customer,	or	any	party	connected	to	the	customer,	is	a Politically	Exposed	Person	(PEP).</p>
            <table class="table-2">
                <tbody>
                <tr>
                    <td>
                        Is	the	customer,	agent,	beneficial	owner	or	any	party	connected	to	the
                        customer,	a	Politically	Exposed	Person	(PEP)
                        A	PEP	includes	the	following:<br>
                        a)	a	person	who	is	or	has	been	entrusted	with	any	prominent	public	function	in
                        Singapore,	a	country	or	territory	outside	Singapore,	or	by	an	international
                        organisation	at	present;	or<br>
                        b)	a	person	who	has	been	entrusted	with	any	prominent	public	function	in
                        Singapore,	a	country	or	territory	outside	Singapore,	or	by	an	international
                        organisation	who	has	stepped	down	from	his	prominent	public	function;	or<br>
                        c)	an	immediate	family	member	or	a	close	associate	of	a	PEP or	a	PEP who	has
                        stepped	down.
                    </td>
                    <td>
                        <span>Yes/No</span>
                        <input>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-item">
            <p class="acra-text-4">Section	C2 – Information	relating	to	Politically Exposed	Person(s),	their	immediate	Family	Members	and Close	Associates</p>
            <p class="acra-text-5">Please	provide	information	on	the	customer	if	the	customer,	or	any	party	connected	to	the	customer
                (including	immediate	family	members	and	close	associates)	is	a	Politically	Exposed	Person	(PEP).</p>
            <table>
                <tbody>
                <tr>
                    <td>Name	of	PEP</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>Country	which	PEP	holds	prominent	public	function</td>
                    <td><input></td>
                </tr>
                <tr>
                    <td>Describe	nature	of	prominent	public	function	that	a
                        person	is	or	has	been	entrusted	with	(for	e.g.	as	a
                        domestic	PEP,	a	foreign	PEP,	or	a	PEP	of	an	international
                        organisation.</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Period	of	time	in	which	the	person	is/was	a	PEP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Nature	of	PEP	relationship	with	the	customer	(for	e.g.
                        self,	family	member,	close	associate,	ultimate	beneficial
                        owner,	etc)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Information	on	the	person’s	source	of	wealth
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Information	on	the	person’s	source	of	funds	in	the
                        proposed	business	relationship</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <p class="acra-text-6">Attach	all	relevant	supporting	documents	(such	as	Google	searches,	Compliance	database	research	results)	on	screening	an
                searches	performed	for	PEP,	their	immediate	family	members	and	close	associates.</p>
        </div>
        <div class="table-item">
            <p class="acra-text-4">Section	D – Customer’s/	Agent’s Declaration</p>
            <p class="acra-text-5">Person	providing	information	shall	sign	off	against	the	information.
                I	declare	that	the	information	provided	in	this	form	is	true	and	correct</p>
            <table class="table-3">
                <tbody>
                <tr>
                    <td>*Name	of	Customer/Agent</td>
                    <td><input></td>
                    <td></td>
                </tr>
                <tr>
                    <td>*NRIC/Passport	No.</td>
                    <td>AS	ABOVE</td>
                    <td>AS	ABOVE</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input value="{{dated}}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Signature</td>
                    <td><img src="{{root}}uploads/users/{{personal.signature}}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <p class="acra-text-6">*Delete	where	applicable</p>
        </div>
    </div>
</div>
