<style>
    .pages-pdf {
        padding: 0 20px;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 850px;
        margin: 0 auto;
    }
    .pages-pdf .director-text-2 {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .director-text-2 input {
        width: 200px;
        margin-right: 20px;
    }
    .pages-pdf .add-text-1 {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-2 {
        text-align: center;
        margin-bottom: 30px;
        line-height: 26px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf hr {
        height: 1px;
        background: black;
        width: 100%;
        margin-bottom: 20px;
    }
    .pages-pdf .add-text-3 {
        margin-bottom: 30px;
        line-height: 26px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: underline;
    }
    .pages-pdf .add-text-4 {
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-4 input {
        margin-left: 15px;
    }
    .pages-pdf .add-text-5 {
        margin-top: 50px;
        margin-bottom: 100px;
        line-height: 24px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .add-text-6 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        font-family: sans-serif;
    }

    @media (max-width: 600px) {
        .pages-pdf .add-text-5 {
            margin-bottom: 0;
        }
        .pages-pdf .director-text-2 {
            font-size: 16px;
        }
        .pages-pdf .director-text-2 input {
            width: 46%;
        }
        .pages-pdf .add-text-2, .pages-pdf .add-text-3, .pages-pdf .add-text-6 {
            font-size: 16px;
        }
    }
</style>
<div class="pages-pdf">
    <p class="director-text-2"><input placeholder="-----------------------------------------------------">PTE. LTD. </p>
    <p class="add-text-1">
        UEN 201929656R<br>
        (Incorporated In the Republic of Singapore)
    </p>
    <p class="add-text-2">
        DIRECTOR’S RESOLUTION IN WRITING<br>
        PURSUANT TO THE COMPANY’S CONTITUTION
    </p>
    <hr/>
    <p class="add-text-3">APPOINTMENT OF ADDITIONAL DIRECTOR</p>
    <p class="add-text-4">
        RESOLVED that<input placeholder="----------------------------------------"> , having consented, be hereby appointed as additional Director with immediate effect.
    </p>
    <p class="add-text-4">
        RESOLVED that the Accounting and Corporate Regulatory Authority be notified accordingly
    </p>
    <p class="add-text-5">Dated: </p>
    <p class="add-text-6">
        <input placeholder="-----------------------------------------------------------------"><br>
        FIRST AND LAST NAME
    </p>
</div>
