<style>
    .pages-pdf {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1000px;
        margin: 20px auto;
        padding: 40px 0;
    }

    .pages-pdf .line-through {
        text-decoration: line-through;
    }

    .pages-pdf .file-header {
        display: -webkit-flex;
        -webkit-justify-content: flex-end;
        -webkit-align-items: center;
    }

    .pages-pdf .file-header .file-title {
        height: 200px;
        width: 350px;
        text-align: center;
        border: 1px solid black;
        padding: 18px;
        box-sizing: border-box;
        -webkit-justify-content: space-around;
        display: -webkit-flex;
        -webkit-flex-direction: column;
    }

    .pages-pdf .file-header .file-title .title-1 {
        font-size: 14px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .pages-pdf .file-header .file-title .title-2 {
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    .pages-pdf .file-header .file-number {
        width: 120px;
        text-align: center;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding: 18px;
        box-sizing: border-box;
        margin-left: 100px;
        line-height: 40px;
        font-size: 25px;
        padding-top: 40px;
        font-family: sans-serif;
        font-weight: bold;
        height: 200px;
    }

    .pages-pdf .file-content {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 60px;
        color: #000;
    }

    .pages-pdf .file-content p {
        font-size: 16px;
        font-family: sans-serif;
    }

    .pages-pdf .file-content img {
        margin: 25px;
        width: 50%;
    }

    .pages-pdf .file-content .section-1 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }

    .pages-pdf .file-content .file-content-2 {
        padding: 10px 20px;
    }

    .pages-pdf .file-content .file-content-2 ol {
        margin-bottom: 14px;
        padding: 5px 14px;
    }

    .pages-pdf .file-content .file-content-2 ol li {
        color: black;
        line-height: 24px;
        font-family: sans-serif;
        letter-spacing: 0.4px;
        font-size: 16px;
    }

    .pages-pdf .file-content input {
        border: 0;
        outline: none;
        border-bottom: 1px solid silver;
        margin: 0 10px;
        background: transparent;
    }

    .pages-pdf .file-content input:focus {
        outline: none;
    }

    .pages-pdf .file-details .file-details-item {
        margin-bottom: 20px;
        display: -webkit-flex;
        width: 100%;
        -webkit-align-items: center;
        -webkit-justify-content: space-between;
    }

    .pages-pdf .file-details .file-details-item-1 {
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        width: 50%;
        -webkit-align-items: center;
    }

    .pages-pdf .file-details .file-details-item-2 {
        margin-bottom: 20px;
        display: -webkit-flex;
        -webkit-justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
    }

    .pages-pdf .file-details label {
        margin-right: 20px;
        width: 250px;
        padding-top: 10px;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;
        display: inline-block;
    }

    .pages-pdf .file-details input {
        border-bottom: 1px solid silver;
        margin: 0 10px;
        width: 250px;
        background: transparent;
    }

    .pages-pdf .file-details .file-details-item-2 input {
        width: 800px;
    }

    .file-secretary {
        margin-top: 20px;
    }

    .file-secretary .secretary-text {
        color: black;
        line-height: 25px;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    .file-secretary ul {
        margin: 0;
        padding: 5px 14px;
    }

    .file-secretary ul li {
        list-style: none;
        margin-bottom: 13px;
        color: black;
        line-height: 24px;
        font-family: sans-serif;
        letter-spacing: 0.4px;
        font-size: 16px;
    }

    .pages-pdf .delete-text {
        font-size: 13px;
        margin-top: 50px;
        font-family: sans-serif;
        font-weight: bold;
    }
</style>
<div class="pages-pdf">
    <div class="file-header">
        <div class="file-title">
            <p class="title-1">
                THE COMPANIES ACT<br>
                (CHAPTER 50)<br>
                SECTION 173(4A)
            </p>
            <p class="title-2">
                CONSENT TO ACT AS SECRETARY
            </p>
        </div>
        <div class="file-number">FORM 45B</div>
    </div>
    <div class="file-content">
        <p class="section-1">Name of Company: <span>{{name}}</span></p>
        <p class="section-1">Company No: <span></span></p>
        <div class="file-content-2">
            <ol>
                <li>I, the undermentioned person, hereby consent to act as a secretary of the
                    abovenamed company with effect from <input>(date)
                </li>
                <li>
                    I am a qualified person under section 171 (1AA) of the Companies Act by virtue of my being –
                    <ol type="i">
                        <li>a secretary of a company for at least 3 years of the 5 years immediately preceding the
                            abovementioned date of my appointment as secretary of the above named company.
                        </li>
                        <li>a qualified person under the Legal Profession Act (Cap. 161).</li>
                        <li>an accountant registered with the Institute of Certified Public Accountants of Singapore.
                        </li>
                        <li>a member of the Singapore Association of the Institute of Chartered Secretaries and
                            Administrators.
                        </li>
                        <li>a member of the Association of International Accountants (Singapore Branch).</li>
                        <li>a member of The Institute of Company Accountants, Singapore.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="file-details">
            <div class="file-details-item-2">
                <label>Name:</label>
                <input value="{{personal.full_name}}">
            </div>
            <div class="file-details-item-2">
                <label>Address:</label>
                <input value="{{personal.address_1}}">
            </div>
            <div class="file-details-item">
                <div class="file-details-item-1">
                    <label>NRIC/Passport No.</label>
                    <input value="{{personal.passport_number}}">
                </div>
                <div class="file-details-item-1">
                    <label>Nationality:</label>
                    <input value="{{personal.nationality}}">
                </div>
            </div>
            <div class="file-details-item">
                <div class="file-details-item-1">
                    <label>Email:</label>
                    <input value="{{personal.email}}">
                </div>
                <div class="file-details-item-1">
                    <label>Tel No.</label>
                    <input value="{{personal.phone_number}}">
                </div>
            </div>
            <div class="file-details-item">
                <div class="file-details-item-1">
                    <label> Dated:</label>
                    <input value="{{dated}}">
                </div>
                <div class="file-details-item-1">
                    <label>Signature:</label>
                    <img src="{{root}}uploads/users/{{personal.signature}}">
                </div>
            </div>
        </div>
        <p class="delete-text">To be completed by secretaries of public companies only or by secretaries of private
            companies appointed under section 171 (1AB) of the Act. *Delete where inapplicable”.</p>
        <div class="file-secretary">
            <p class="secretary-text">Secretary</p>
            <ul>
                <li>
                    171.—(1) Every company shall have one or more secretaries each of whom shall be a natural person who
                    has his principal
                    or only place of residence in Singapore and who is not debarred under section 155B from acting as
                    secretary of the company.
                </li>
                <li>
                    (1A) It shall be the duty of the directors of a company to take all reasonable steps to secure that
                    each secretary of the company is a person who appears to them to have the requisite knowledge
                    and experience to discharge the functions of secretary of the company.
                </li>
                <li>
                    (1AA) In addition, it shall be the duty of the directors of a public company to take all reasonable
                    steps to secure that each secretary of the company is a person who —
                </li>
                <li>
                    <ul>
                        <li>(a) on 15 May 1987 held the office of secretary in that company and continued to hold that
                            office on 15 May 2003; or
                        </li>
                        <li>(b) satisfies such requirements relating to experience, professional and academic
                            requirements and membership of professional associations, as may be prescribed.
                        </li>
                    </ul>
                </li>
                <li>
                    (1AB) The Registrar may require a private company to appoint a person who satisfies subsection
                    (1AA)(b) as its secretary if he is satisfied that the company has failed to comply with any
                    provision of this Act with respect to the keeping of any register or other record.
                </li>
                <li>
                    (1B) Any person who is appointed by the directors of a company as a secretary shall, at the time of
                    his appointment, by himself or through a registered qualified
                    individual authorised by him, file with the Registrar a declaration in the prescribed form that he
                    consents to act as secretary and providing the prescribed particulars.
                </li>
                <li>
                    (1C) A person to whom subsection (1AA)(a) applies who, after 15th May 1987, becomes a secretary of
                    another company and is not qualified to act as secretary under
                    subsection (1AA)(b) shall not be regarded as being a person who is qualified to discharge the
                    functions of secretary under this subsection.
                </li>
            </ul>
        </div>


    </div>
</div>
