<style>
    .pages-pdf {
        padding: 0 20px;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 850px;
        margin: 0 auto;
    }
    .pages-pdf .director-text-2 {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .director-text-2 input {
        width: 200px;
        margin-right: 20px;
    }
    .pages-pdf .add-text-1 {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .share-block-1 {
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pages-pdf .share-block-2 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        color: #000;
        flex-direction: column;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pages-pdf .share-block-2 p {
        text-align: center;
        width: 100%;
    }
    .pages-pdf .share-block-3 {
        margin-top: 50px;
        display: flex;
        font-size: 16px;
        color: #000;
        justify-content: flex-start;
    }
    .pages-pdf .share-block-3 .share-block-3-left {
        margin-left: 100px;
    }
    .pages-pdf .share-block-3 .share-block-3-right {
        margin-left: 50px;
    }
    .pages-pdf .share-block-3 .share-block-3-right .inside {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pages-pdf .share-block-3 .share-block-3-right input {
        display: block;
        margin-left: 20px;
    }
    .pages-pdf .share-block-3 .share-block-3-right input ::placeholder {
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .share-block-3 .share-block-3-right p {
        width: 400px;
    }
    .pages-pdf .share-block-4 {
        margin-top: 30px;
        font-size: 16px;
        font-family: sans-serif;
        color: #000;
    }
    .pages-pdf .share-block-5 {
        text-align: center;
        margin-top: 30px;
        font-size: 18px;
        font-family: sans-serif;
    }
    .pages-pdf .share-block-6 {
        text-align: center;
        margin-top: 100px;
        font-size: 14px;
        font-weight: bold;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .pages-pdf .share-block-6 p {
        text-align: left;
    }
    @media (max-width: 767px) {
        .pages-pdf .share-block-3 .share-block-3-right .inside {
            display: none;
        }
        .pages-pdf .share-block-3 .share-block-3-left {
            margin-left: 0;
        }
    }
    @media (max-width: 480px) {
        .pages-pdf .share-block-1 {
            flex-direction: column;
        }
        .pages-pdf .share-block-2 p {
            text-align: left;
        }
        .pages-pdf .share-block-4 {
            font-size: 14px;
        }
        .pages-pdf .share-block-6 {
            margin-top: 50px;
            align-items: flex-start;
        }
        .pages-pdf .share-block-5 {
            text-align: left;
            font-size: 14px;
        }
        .pages-pdf .share-block-5 input {
            width: 52%;
        }
        .pages-pdf .share-block-3 {
            flex-direction: column;
        }
        .pages-pdf .share-block-3 .share-block-3-right {
            margin-left: 0;
            margin-top: 20px;
        }
        .pages-pdf .share-block-3 .share-block-3-right input {
            margin-left: 0;
        }
        .pages-pdf .director-text-2 {
            font-size: 16px;
        }
        .pages-pdf .director-text-2 input {
            width: 52%;
        }
    }
</style>
<div class="pages-pdf">
    <p class="director-text-2"><input placeholder="-----------------------------------------------------">PTE. LTD. </p>
    <p class="add-text-1">
        UEN:<br>
        (Incorporated in the Republic of Singapore)
    </p>
    <div class="share-block-1">
        <p>Certificate No.:<input placeholder="Certificate Number"></p>
        <p>No. of Ordinary Share(s): <input placeholder="No. of Shares"></p>
    </div>
    <div class="share-block-2">
        <p>Address.</p>
        <p>Issued Share Capital:<input placeholder="Currency and Value"></p>
        <p>Issued Shares:<input placeholder="Number of Shares"></p>
    </div>
    <div class="share-block-3">
        <div class="share-block-3-left">
            This is to certify that
        </div>
        <div class="share-block-3-right">
            <div class="inside">[ <p></p> ]<br></div>
            <input placeholder="first name last name">
            <input placeholder="address"><br>
            <div class="inside">[ <p></p> ]<br></div>
        </div>
    </div>
    <p class="share-block-4">is the Registered Holder of Number of Shares in Numbers (Number of Shares in Words) ordinary shares, fully paid, in <input placeholder="----------------------------------------">
        PTE. LTD., subject to the Constitution of the Company.  The total amount paid on the shares is Currency and Value. </p>
    <p class="share-block-5">Duly signed on <input placeholder="-----------------------------------"> by and in the presence of: </p>
    <div class="share-block-6">
        <input placeholder="--------------------------------------------------">
        <p>FIRST NAME LAST NAME <br>Director  </p>
    </div>
</div>
