<style>
    .pages-pdf {
        padding: 0 20px;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
    }
    .pages-pdf .register-text-1 {
        margin-bottom: 40px;
        line-height: 30px;
        margin-top: 50px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: underline;
    }
    .pages-pdf ul li {
        list-style: none;
    }
    .pages-pdf input {
        margin-left: 10px;
        background: transparent;
    }
    .pages-pdf table {
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid black;
        width: 100%;
    }
    .pages-pdf table input {
        width: 100%;
        margin-left: 0;
    }
    .pages-pdf table th:nth-child(3) {
        width: 49%;
    }
    .pages-pdf table tr {
        width: 17%;
        text-align: left;
    }
    .pages-pdf table th {
        padding: 5px 8px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    .pages-pdf table td {
        vertical-align: text-bottom;
        padding: 5px 8px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    .pages-pdf table td:last-child {
        border-right: 0;
    }

    @media (max-width: 767px) {
        .pages-pdf .register-text-1 {
            font-size: 18px;
        }
        .pages-pdf .table-register {
            padding-bottom: 20px;
            max-width: 700px;
            width: 100%;
            overflow-x: scroll;
        }
        .pages-pdf table {
            width: 700px;
        }
    }
</style>
<div class="pages-pdf">
    <p class="register-text-1">
        REGISTER OF NOMINEE DIRECTORS –  –<input placeholder="---------------------------------">PTE LTD
    </p>
    <div class="table-register">
        <table>
            <tr>
                <th>Date of entry/update</th>
                <th>Hoh Huan Fong</th>
                <th>Particulars</th>
                <th>Remarks/notes</th>
            </tr>
            <tr>
                <td><input placeholder="YYYY MM DD "></td>
                <td><input placeholder="First Name Last Name"></td>
                <td>
                    <ul>
                        <li>Hoh Huan Fong</li>
                        <li>Johnson</li>
                        <li>Bik 119 Bukit Batok West Ave 6 05-256 Signature 650119</li>
                        <li>Signaporean</li>
                        <li>E6819611D</li>
                        <li>24/11/1978</li>
                        <li>Individual Controller</li>
                        <li>Significant control</li>
                    </ul>
                </td>
                <td><input placeholder="---------------------"></td>
            </tr>
            <tr>
                <td><input placeholder="-----------------"></td>
                <td><input placeholder="-----------------"></td>
                <td><input placeholder="-----------------"></td>
                <td><input placeholder="-----------------"></td>
            </tr>
        </table>
    </div>
</div>

