<style>
    .pages-pdf {
        padding: 0 20px;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 850px;
        margin: 0 auto;
    }
    .pages-pdf .director-text-1 {
        text-align: center;
        margin-bottom: 10px;
        line-height: 30px;
        margin-top: 50px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .director-text-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .director-text-2 input {
        width: 200px;
        border-bottom: 1px solid silver;
        margin-right: 20px;
    }
    .pages-pdf .director-text-3 {
        text-align: center;
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 16px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .director-text-4 {
        margin-bottom: 50px;
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .director-text-5 {
        font-size: 14px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .director-text-6 {
        margin-left: 30px;
        font-size: 12px;
        color: #000;
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: sans-serif;
    }
    .pages-pdf table {
        border-collapse: collapse;
        width: 100%;
        color: #000;
        font-family: sans-serif;
        border: 1px solid black;
    }
    .pages-pdf table input {
        width: 150px;
        margin-left: 10px;
    }
    .pages-pdf table ol {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 5px;
        padding-bottom: 20px;
    }
    .pages-pdf table ol li {
        padding-left: 10px;
    }
    .pages-pdf table td:not(:last-child) {
        padding: 8px;
        border-right: 1px solid black;
    }
    .pages-pdf table .part-1 {
        text-align: center;
    }

    @media (max-width: 600px) {
        .pages-pdf .director-text-6 {
            margin-left: 0;
        }
        .pages-pdf .director-text-3 {
            font-size: 13px;
        }
        .pages-pdf .director-text-1, .pages-pdf .director-text-2 {
            font-size: 17px;
        }
        .pages-pdf .directors-table {
            overflow-x: scroll;
            max-width: 600px;
            width: 100%;
        }
        .pages-pdf table {
            width: 600px;
        }
    }
</style>

<div class="pages-pdf">
    <p class="director-text-1">REGISTER OF NOMINEE DIRECTORS </p>
    <p class="director-text-2"><input>PTE LTD</p>
    <p class="director-text-3">
        Section 386AL of the Companies Act, Cap 50 Companies <br>(Register of Controllers and Nominee Directors) Regulations 2017
    </p>
    <div class="directors-table">
        <table>
            <tr>
                <td>Date of  entry<br><br><input placeholder="------------------------"></td>
                <td>Name of  nominee director:</td>
                <td><p class="part-1">Part 1*</p></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <ol>
                        <li>Full name of the person for whom the director is a nominee:<input placeholder="--------------------------"></li>
                        <li>Aliases, if any of the person for whom the director is a nominee:<input placeholder="--------------------------"></li>
                        <li>Residential address of the person for whom the director is a nominee: <input placeholder="--------------------------"></li>
                        <li>Nationality of the person for whom the director is a nominee: <input placeholder="--------------------------"></li>
                        <li>Identity card number or passport number of the person for whom the director is a nominee: <input placeholder="--------------------------"></li>
                        <li>Date of birth of the person for whom the director is a nominee: <input placeholder="--------------------------"></li>
                        <li>Date on which the director became the nominee of the person for whom the director is a nominee: <input placeholder="--------------------------"></li>
                        <li>Date on which the director ceased to be a nominee of the person for whom the director is a nominee:<input placeholder="--------------------------"></li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Date of  entry<br><br><input placeholder="------------------------"></td>
                <td>Name of  nominee director:</td>
                <td><p class="part-1">Part 2**</p></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <ol>
                        <li>Name of the person for whom the director is a nominee:<input placeholder="--------------------------"></li>
                        <li>Unique entity number of the person for whom the director is a nominee issued by the Registrar, if any:<input placeholder="--------------------------"></li>
                        <li>Address of registered office of the person for whom the director is a nominee <input placeholder="--------------------------"></li>
                        <li>Legal form of the person for whom the director is a nominee<input placeholder="--------------------------"></li>
                        <li>Jurisdiction where, and statute under which, the person for whom the director is a nominee is formed or incorporated<input placeholder="--------------------------"></li>
                        <li>The name of the corporate entity register of the jurisdiction in which the person for whom the director is a nominee is formed or incorporated, if applicable<input placeholder="--------------------------"></li>
                        <li>Identification number or registration number on the corporate entity register of the jurisdiction where the person for whom the director is a nominee is formed or incorporated, if applicable:<input placeholder="--------------------------"></li>
                        <li>Date on which the director became the nominee of the person for whom the director is a nominee<input placeholder="--------------------------"></li>
                        <li>Date on which the director ceased to be a nominee of the person for whom the director is a nominee<input placeholder="--------------------------"></li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
    <p class="director-text-4">I	CONFIRM	THAT	THE	ABOVE	INFORMATION	IS	CORRECT:</p>
    <p class="director-text-5">
        ---------------------------------------<br>
        Name: Koh Huan Fong<br>
        Director
    </p>
    <p class="director-text-6">
        * Where the person for whom the director is a nominee is an individual, complete Part 1.<br>
        ** Where the person for whom the director is a nominee is a legal entity, complete Part 2.
    </p>
</div>
