<style>
    .pages-pdf {
        padding: 0 20px;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 850px;
        margin: 0 auto;
    }
    .pages-pdf .notice-text-1 {
        margin-bottom: 40px;
        line-height: 30px;
        margin-top: 50px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: underline;
    }
    .pages-pdf .notice-block-1 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .pages-pdf .notice-text-2 {
        margin-right: 10px;
        font-size: 18px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .notice-text-3 {
        margin-left: 10px;
        font-size: 20px;
        line-height: 28px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .notice-text-3 input {
        margin: 0 10px;
        border-bottom: 1px solid silver;
    }
    .pages-pdf input {
        border-bottom: 1px solid silver;
    }
    .pages-pdf .notice-text-4 {
        font-size: 20px;
        line-height: 28px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf .notice-director {
        margin-top: 60px;
    }
    .pages-pdf .notice-director input {
        border-bottom: 1px solid black;
        width: 300px;
    }
    .pages-pdf .notice-text-5 {
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf hr {
        height: 1px;
        background: black;
        width: 100%;
    }
    .pages-pdf .notice-text-6 {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: underline;
    }
    .pages-pdf .notice-text-7 {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 20px;
        line-height: 28px;
        margin-left: 20px;
        color: #000;
        font-family: sans-serif;
        font-weight: bold;
    }
    .pages-pdf .notice-text-8 {
        margin-bottom: 30px;
        font-size: 20px;
        margin-left: 20px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf ul {
        margin-left: 20px;
    }
    .pages-pdf ul li {
        list-style: none;
        font-size: 16px;
        line-height: 28px;
        color: #000;
        font-family: sans-serif;
    }
    .pages-pdf ul li input {
        width: 45%;
        padding-left: 30px;
    }
    .pages-pdf ul li input::placeholder {
        color: #333;
        font-family: sans-serif;
        font-size: 16px;
    }
    .pages-pdf .empty-line {
        margin-top: 20px;
    }

    @media (max-width: 767px) {
        .pages-pdf .notice-text-4 {
            font-size: 15px;
        }
        .pages-pdf .notice-text-7 {
            margin-left: 0;
            font-size: 18px;
            line-height: 24px;
        }
        .pages-pdf .notice-text-8 {
            margin-left: 0;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .pages-pdf .notice-text-3 {
            margin-left: 0;
            font-size: 15px;
        }
        .pages-pdf .notice-text-6 {
            font-size: 18px;
        }
        .pages-pdf .notice-text-1 {
            font-size: 18px;
        }
        .pages-pdf .notice-block-1 {
            margin-bottom: 5px;
        }
        .pages-pdf ul {
            margin-left: 5px;
        }
        .pages-pdf ul li input::placeholder {
            font-size: 13px;
        }
        .pages-pdf .notice-director {
            margin-top: 20px;
        }
        .pages-pdf .notice-director input {
            width: 100%;
        }
        .pages-pdf .notice-text-2 {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
</style>
<div class="pages-pdf">
    <p class="notice-text-1">FORM OF NOTICE MENTIONED IN SECTION 386AG(2(a) OF COMPANIES ACT </p>
    <div class="notice-block-1">
        <p class="notice-text-2">Date of notice:</p>
        <p>{{dated}}</p>
    </div>
    <div class="notice-block-1">
        <p class="notice-text-2">Dear</p>
        <p></p>
    </div>
    <p class="notice-text-3">We know or have reasonable grounds to believe that you are a registrable controller of<input value="{{name}}">PTE. LTD..</p>
    <p class="notice-text-4">
        This notice is sent under section 386AG(2)(a) of the Companies Act (Cap. 50) and requires you to provide the following information within 30 days after the date of this notice.
        Please send your reply after signing to KIMBO CORPORATE PTE. LTD, 151 Chin Swee Road #02-24, Manhattan House, Singapore 169876.
        Failure to provide the information required by this notice may be an offence.<br><br>
        Yours sincerely,
    </p>
    <div class="notice-director">
        <input>
        <p class="notice-text-5">KOH HUAN FONG</p>
        <p class="notice-text-2">Director</p>
    </div>
    <hr/>
    <p class="notice-text-6">INFORMATION PROVIDED BY REGISTRABLE CONTROLLER:</p>
    <p class="notice-text-7">1.  Are you a registrable controller?</p>
    <p class="notice-text-8">Your reply: Yes / No* </p>
    <p class="notice-text-4">
        * Delete as appropriate. If your reply is yes and you are an individual, please provide the particulars in sub-paragraph (a).
        If your reply is yes and you are a legal entity, please provide the particulars in sub-paragraph (b).
    </p>
    <p class="notice-text-4">(a) If your reply is yes and you are an individual, please provide the following particulars: </p>
    <ul>
        <li>(i) your full name <input placeholder="FIRST NAME LAST NAME" value="{{personal.full_name}}"> </li>
        <li>(ii) your aliases, if any IF ANY  <input placeholder="IF ANY"></li>
        <li>(iii) your residential address:<input placeholder="ADDRESS" value="{{personal.address}}"></li>
        <li>(iv) your nationality<input placeholder="NATIONALITY" value="{{personal.nationality}}"></li>
        <li>(v) your identity card number or passport number:<input placeholder="PASSPORT NUMBER" value="{{personal.passport_number}}"></li>
        <li>(vi) your date of birth<input placeholder="DOB" value="{{personal.birthday}}"></li>
        <li>(vii) the date on which you became an individual controller:<input placeholder="DATE OF INCORPORATION"></li>
        <li>(viii) Significant Interest and/or Significant Control<input placeholder="EITHER OR BOTH"></li>
    </ul>
    <div class="empty-line"></div>
    <p class="notice-text-4">(b) If your reply is yes and you are a legal entity, please provide the following particulars:  </p>
    <ul>
        <li>(i) your name: <input placeholder="COMPANY NAME" value="{{name}}"> </li>
        <li>(ii) your unique entity number issued by the Registrar, if any <input placeholder="COMPANY NUMBER."></li>
        <li>(iii) the address of your registered office:<input placeholder="ADDRESS"></li>
        <li>(iv) your legal form:<input placeholder="TYPE OF COMPANY"></li>
        <li>(v) the jurisdiction where, and statute under which, you are formed or incorporated:<input placeholder="COUNTRY"></li>
        <li>(vi) the name of the corporate entity register of the jurisdiction in which you are formed or incorporated, if applicable:<input placeholder="REGULATORY BODY"></li>
        <li>(vii) the identification number or registration number on the corporate entity register of the jurisdiction where you are formed or incorporated, if applicable: <input placeholder="IF ANY"></li>
        <li>(viii) the month and year on which you became a corporate controller of [name of company or foreign company]: <input placeholder="YYYY MM"></li>
    </ul>
    <p class="notice-text-7">2.  Do you know or have reasonable grounds to believe that any other person is a registrable controller or is likely to have that knowledge? </p>
    <p class="notice-text-8">Your reply: Yes / No* </p>
    <p class="notice-text-4">
        * Delete as appropriate. If your reply is yes and the person is an individual, please provide the particulars in sub-paragraph (a).
        If your reply is yes and the person is a legal entity, please provide the particulars in sub-paragraph (b). (
    </p>
    <p class="notice-text-4">(a) If your reply is yes and the person is an individual, please provide the following particulars to the best of your knowledge: </p>
    <ul>
        <li>(i) your full name <input placeholder="FIRST NAME LAST NAME"> </li>
        <li>(ii) your aliases, if any IF ANY  <input placeholder="IF ANY"></li>
        <li>(iii) your residential address:<input placeholder="ADDRESS"></li>
        <li>(iv) your nationality<input placeholder="NATIONALITY"></li>
        <li>(v) your identity card number or passport number:<input placeholder="PASSPORT NUMNER"></li>
        <li>(vi) your date of birth<input placeholder="DOB"></li>
        <li>(vii) the date on which you became an individual controller:<input placeholder="DATE OF INCORPORATION"></li>
        <li>(viii) Significant Interest and/or Significant Control<input placeholder="EITHER OR BOTH"></li>
    </ul>
    <div class="empty-line"></div>
    <p class="notice-text-4">(b) If your reply is yes and the person is a legal entity, please provide the following particulars to the best of your knowledge:</p>
    <ul>
        <li>(i) your name: <input placeholder="COMPANY NAME"> </li>
        <li>(ii) your unique entity number issued by the Registrar, if any <input placeholder="COMPANY NUMBER."></li>
        <li>(iii) the address of your registered office:<input placeholder="ADDRESS"></li>
        <li>(iv) your legal form:<input placeholder="TYPE OF COMPANY"></li>
        <li>(v) the jurisdiction where, and statute under which, you are formed or incorporated:<input placeholder="COUNTRY"></li>
        <li>(vi) the name of the corporate entity register of the jurisdiction in which you are formed or incorporated, if applicable:<input placeholder="REGULATORY BODY"></li>
        <li>(vii) the identification number or registration number on the corporate entity register of the jurisdiction where you are formed or incorporated, if applicable: <input placeholder="IF ANY"></li>
        <li>(viii) the month and year on which you became a corporate controller of [name of company or foreign company]: <input placeholder="YYYY MM"></li>
    </ul>
    <p class="notice-text-4">In this notice — </p>
    <p class="notice-text-4">
        “controller”, “corporate controller”, “individual controller” and “legal entity” have the meanings given to them in section 386AB of the Companies Act;<br>
        “identity card” has the meaning given to it in section 2(1) of the National Registration Act (Cap. 201);<br>
        “registrable” has the meaning given to it in section 386AC of the Companies Act.
    </p>
    <div class="empty-line"></div>
    <div class="empty-line"></div>
    <hr/>
    <div class="empty-line"></div>
    <div class="notice-block-1">
        <p class="notice-text-2">To:<input value="{{name}}"> PTE. LTD.</p><br>
    </div>
    <p class="notice-text-2"> I furnish my particulars as completed above.</p>
    <div class="notice-director">
        <input>
    </div>
    <div class="empty-line"></div>
    <div class="empty-line"></div>
</div>
